<%layout("./template/boilerplate.ejs") %>

<body class="bg-gray-50 font-sans">
    <%-include("./components/navbar.ejs")%>
    <%-include("./components/productPage.ejs")%>
    <%-include("./components/footer.ejs")%>
</body>
