<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/add?_method=PATCH" method="post">
            <label for="username">Enter Your Name :</label>
            <input type="text" name="username" id="username" placeholder="Enter Your Username">
            <br>
            <br>
            <label for="email">Enter Your Email</label>
            <input type="text" name="email" id="email" placeholder="Enter Your Email">
            <br>
            <br>
            <label for="password">Enter Your Password</label>
            <input type="password" name="password" id="password" placeholder="password">

            <input type="submit" value="Add data">
        </form>
</body>
</html>