<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1><%= ["hello","I am onkar sathe","bello"][0] %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum facilis temporibus itaque nisi praesentium, doloremque consequuntur corrupti esse aliquam facere voluptates ducimus perspiciatis magnam error corporis mollitia officia doloribus incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur expedita quos sunt. Ullam, voluptatem omnis? Qui explicabo amet nemo facilis!</p>
    <button>click me </button>
</body>
</html>