<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- to generate the random number in -->
    <h1>Dice gives the value : <%= diceValue %> </h1>
    <% if(diceValue == 6){ %>
        <h1>Kdkk na bhava... 6 padale !</h1>
    <%}  %>
</body>
</html>