<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit </title>
</head>
<body>
    <h2>Edit You post <%= post.username%> </h2>
    <p>id :<%= post.id%></p>
    <form action="/posts/id/<%=post.id%>?_method=PATCH">
        <textarea name="Content" id=""><%= post.content%></textarea>
        <button>Change</button>
        
    </form>
    
</body>
</html>