    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>add new post</title>
    </head>
    <body>
        <form action="/posts" method="post">
        <div class="form">
            <input type="text" name="username" id="username" placeholder="Enter Username :">  <br>
            <textarea name="content" id="content" placeholder="Write you content" rows="10" cols="100"></textarea> <br>
            <button> Submit </button>
        </div>
        </form>
    </body>
    </html>