<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Post in detail </title>
</head>
<body>
    <h2 style="text-align: center;">Your Post...</h2>
    <div class="detail-content">
     <div class="detali-post">
       
        <h3 class="user">@<%=post.username%></h3>
        <h3>ID: <%= post.id %></h3>
        <h3 class="user"> <%=post.content%></h3>
      </div>
    </div>
</body>
</html>